# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.pytest_cache/
.cache/

# Environments
.env
.venv/
env/
venv/
ENV/

# Distribution / packaging
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
build/

# Database files
*.db
*.sqlite

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# Scratch files
scratch/

